<!DOCTYPE html>
<h1 align="center"> Create An Article:</h1>

<%# Utilizing partials to cutt down on redundancy, refer to    _forms.html.erb %>
<%# *NOTE* if in diff directory, put in path, example: "otherFolder/forms" %>
<%= render 'form' %>
</html>