<div class="contrainer">
    <footer class="footer">
        <small>
        <p align="center"> Copyright &copy; <a href="https://www.ruby-lang.org/en/">The Complete Road To RUBY!</a>
        by <a href="#"> Ryan Smith </a>
        </small>
        <nav class="fnav">
            <ul>
                <li><p align="center"><%= link_to "About Ryan", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>